<div>
    <ul>
        <li>Tank name: {{tankName}}</li>
        <li>Speed: {{speed}}</li>
        <li>Length: {{length}}</li>
        <li>Width: {{width}}</li>
        <li>Height: {{height}}</li>
        <li>Weight: {{weight}}</li>
        <li>Crew: {{crew}}</li>
        <li>Engine: {{engine}}</li>
        <li>Country: {{country}}</li>
        <li>Producer: {{producer}}</li>
        <li>Type: {{type}}</li>
        <li>Power: {{power}}</li>

        <li>Tank description: {{tankDescription}}</li>
        <li>Price: {{price}}
    </ul>
    <p>
</div>
